<hr />
<div id="footer">
	<p>
		<%= @blog.title %> is powered by <a href="http://github.com/whoisjake/thoughts/tree/master">Thoughts</a> with <a href="http://www.azeemazeez.com/blogs/white-as-milk/" title="White as Milk theme for Wordpress">White as Milk</a> <br />designed by <a href="http://www.azeemazeez.com">Azeem Azeez</a>. <a href="<%= rss_feed(@blog) %>">Entries (RSS)</a> and <a href="<%= comments_feed(@blog) %>">Comments (RSS)</a>.
	</p>
</div>